{# @prop align 'inline-start'|'inline-end'|'block-start'|'block-end' The addon position relative to the input. Defaults to `inline-start` #}
{# @block content The addon content, typically an icon or text #}
{%- props align = 'inline-start' -%}
{%- set style = html_cva(
    base: "text-muted-foreground flex h-auto items-center justify-center gap-2 text-sm font-medium select-none [&_svg:not([class*='size-'])]:size-4 group-data-[disabled=true]/input-group:opacity-50",
    variants: {
        align: {
            'inline-start': 'order-first pl-3',
            'inline-end': 'order-last pr-3',
            'block-start': 'order-first w-full justify-start px-3 pt-3 [&.border-b]:pb-3',
            'block-end': 'order-last w-full justify-start px-3 pb-3 [&.border-t]:pt-3',
        },
    },
) -%}
<div
    data-slot="input-group-addon"
    data-align="{{ align }}"
    role="group"
    class="{{ style.apply({align: align}, attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
