{# @block content The input and supplementary elements like `Field:Description` and `Field:Error` #}
<div
    data-slot="field-content"
    class="{{ ('group/field-content flex flex-1 flex-col gap-1.5 leading-snug ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
