<footer class="mt-8 py-6 border-border border-t">
    <div class="mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl">
        <p class="text-muted-foreground text-sm text-center">
            &copy; {{ "now"|date("Y") }} Value Group
        </p>
    </div>
</footer>
