<footer class="mt-8 py-6 border-border border-t">
    <div class="flex items-center mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl">
        <p class="flex-1 text-muted-foreground text-sm text-left">
            &copy; {{ "now"|date("Y") }} Value Group. All rights reserved.
        </p>
        <a class="text-muted-foreground text-sm" href="https://github.com/value-group-bv/doc-ledger/releases" rel="noopener noreferrer" target="_blank">Version {{ app_version }}</a>
    </div>
</footer>
