{# @prop variant 'default'|'destructive' The visual style variant. Defaults to `default` #}
{# @block content The alert content, typically includes `Alert:Title` and `Alert:Description` #}
{%- props variant = 'default' -%}
{%- set style = html_cva(
    base: "grid gap-0.5 rounded-lg border px-2.5 py-2 text-left text-sm has-data-[slot=alert-action]:relative has-data-[slot=alert-action]:pr-18 has-[>svg]:grid-cols-[auto_1fr] has-[>svg]:gap-x-2 *:[svg]:row-span-2 *:[svg]:translate-y-0.5 *:[svg]:text-current *:[svg:not([class*='size-'])]:size-4 w-full relative group/alert",
    variants: {
        variant: {
            default: 'bg-card text-card-foreground',
            destructive: 'text-destructive bg-destructive/5 border-destructive/25 *:data-[slot=alert-description]:text-destructive/80 *:[svg]:text-current',
        },
    },
) -%}

<div
    data-slot="alert"
    role="alert"
    class="{{ style.apply({variant: variant}, attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
