{# @prop size 'default'|'sm'|'lg' The avatar size. Defaults to `default` #}
{# @block content The avatar content, typically an image or `Avatar:Fallback` #}
{%- props size = 'default' -%}

<span
    data-slot="avatar"
    data-size="{{ size }}"
    class="{{ ('size-8 rounded-full after:rounded-full data-[size=lg]:size-10 data-[size=sm]:size-6 after:border-border group/avatar relative flex shrink-0 select-none after:absolute after:inset-0 after:border after:mix-blend-darken dark:after:mix-blend-lighten ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</span>
