{# @block content The card content, typically includes `Card:Header`, `Card:Content`, and/or `Card:Footer` #}
<div
    class="{{ ('rounded-lg border bg-card text-card-foreground shadow-sm ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
