{# @prop open boolean Whether the collapsible is open by default. Defaults to `false` #}
{# @block content The collapsible content, typically a `Collapsible:Trigger` and a `Collapsible:Content` #}
{%- props open = false -%}
{%- do provide('collapsible.open', open) -%}
<div
    {{ attributes.defaults({
        'data-slot': 'collapsible',
        'data-controller': 'collapsible',
        'data-collapsible-open-value': open ? 'true' : 'false',
        'data-state': open ? 'open' : 'closed',
    }) }}
>
    {%- block content %}{% endblock -%}
</div>
