{# @prop openDelay number Delay in milliseconds before showing the content. Defaults to `0` #}
{# @prop closeDelay number Delay in milliseconds before hiding the content. Defaults to `0` #}
{# @block content The hover card structure, typically a `HoverCard:Trigger` and `HoverCard:Content` #}
{%- props openDelay = 0, closeDelay = 0 -%}
<span
    class="{{ ('relative inline-block ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes.defaults({
        'data-slot': 'hover-card',
        'data-controller': 'hover-card',
        'data-hover-card-open-delay-value': openDelay,
        'data-hover-card-close-delay-value': closeDelay,
        'data-action': 'mouseenter->hover-card#show mouseleave->hover-card#hide click->hover-card#toggle keydown.esc@window->hover-card#hide',
    }) }}
>
    {%- block content %}{% endblock -%}
</span>
