{# @prop id string Unique identifier for the tooltip #}
{# @prop delayDuration number Delay in milliseconds before showing the tooltip. Defaults to `0` #}
{# @block content The tooltip structure, typically includes `Tooltip:Trigger` and `Tooltip:Content` #}
{%- props id, delayDuration = 0 -%}
{%- set _tooltip_id = id -%}
{%- set _tooltip_trigger_id = id ~ '_trigger' -%}
{%- set _tooltip_wrapper_id = id ~ '_wrapper' -%}
{%- set _tooltip_content_id = id ~ '_content' -%}
{%- set _tooltip_arrow_id = id ~ '_arrow' -%}
{%- set _tooltip_delay_duration = delayDuration -%}
<div
    class="{{ ('relative inline-block ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes.defaults({
        id: _tooltip_id,
        'data-slot': 'tooltip',
        'data-controller': 'tooltip',
        'data-tooltip-delay-duration-value': _tooltip_delay_duration,
        'data-tooltip-wrapper-selector-value': '#' ~ _tooltip_wrapper_id,
        'data-tooltip-content-selector-value': '#' ~ _tooltip_content_id,
        'data-tooltip-arrow-selector-value': '#' ~ _tooltip_arrow_id,
    }) }}
>
    {%- block content %}{% endblock -%}
</div>
