<twig:Card:Header>
    <twig:Card:Title class="text-center card-title">
        <span class="vg-name">Value Group</span>
        <span class="vg-sitetag">Document Ledger</span>
    </twig:Card:Title>
</twig:Card:Header>
