{# @block content The main content area of the card #}
<div
    class="{{ ('p-6 pt-0 ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
