{# @block content The header area, typically contains `Card:Title` and `Card:Description` #}
<div
    class="{{ ('flex flex-col space-y-1.5 p-6 ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
