{# @block content The title text of the card #}
<div
    class="{{ ('leading-none font-semibold ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</div>
